h3 {
  display: inline-block;
}
.main {
  display: flex;
  flex-direction: column;
  background-color: #cbe4de;
  width: auto;
  height: auto;
  padding-bottom: 2vw;
}
.project-section {
  position: relative;
  width: auto;
  display: grid;
  row-gap: 3vw;
  grid-template: 1fr 1fr / 3fr 1fr;
  overflow-y: scroll;
  padding-top: 3vw;
}
.middle-list {
  border-top: 1px solid rgba(58, 58, 58, 0.5);
  border-bottom: 1px solid rgba(58, 58, 58, 0.5);
  padding: 1vw 0;
}
.announcment,
.trending {
  background-color: blueviolet;
  margin: 0 1vw 1vw 1vw;
  grid-row: 1/2;
  grid-column: 2/3;
  background-color: white;
  border-radius: 5px;
  padding: 0.5vw 1vw;
  position: relative;
  display: flex;
  gap: 1vw;
  flex-direction: column;
  justify-content: space-evenly;
}
.sub-title {
  font-size: 20px;
  font-weight: bold;
}
.sub-text {
  display: block;
}
.extra-title {
  position: absolute;
  top: -3vw;
  left: 0;
  display: inline;
  padding-bottom: 0;
}
.announcment > div {
  height: fit-content;
}
.announcment > div > span {
  color: black;
}
.trending {
  background-color: white;
  grid-row: 2/3;
  grid-column: 2/3;
  margin-top: 1vw;
}
.projects {
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr 1fr;
  grid-area: 1 / 1 / 3 / 1;
  gap: 2vw;
  padding: 0 1vw 1vw 1vw;
}
.sub-img > img {
  border-radius: 50px;
  width: 3vw;
  height: 3vw;
  object-fit: cover;
  object-position: 50% 50%;
}
.subscribers {
  display: flex;
  gap: 0.8vw;
  align-items: center;
  height: fit-content;
}
.sub-info {
  display: flex;
  flex-direction: column;
  gap: 0.2vw;
  justify-content: center;
}
.sub-info > span {
  height: fit-content;
}
.project-card {
  border-radius: 1vw;
  background-color: white;
  margin-bottom: 1vw;
  display: flex;
  row-gap: 1vw;
  height: auto;
}
.card-right {
  display: flex;
  flex-direction: column;
}
.card-right > img {
  border-radius: 0 1.05vw 0 0;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
.project-card-text {
  padding-left: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}
.project-card-text > span {
  display: inline-block;
  height: fit-content;
  font-size: var(--card_text_font);
  color: gray;
}
.project-card-icons {
  background-color: #2c3333;
  min-width: 3vw;
  border-radius: 1.05vw 0 0 1.05vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-card-icons > img {
  padding-top: 1vw;

  width: 1.5vw;
  height: fit-content;
}
.project-title {
  position: absolute;
  color: rgb(58, 58, 58);
  font-weight: bold;
  font-size: clamp(1em, 2vw, 1.5em);
  top: 1vw;
  left: 1vw;
}
