:root {
  --nav_font: clamp(0.8em, 2vw, 1.5em);
  --transition_close: all 0.3s ease-in-out;
}
* {
  height: 100%;
}
header,
main {
  transition: var(--transition_close);
}
span,
div {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
body {
  display: flex;
  width: 80%;
  margin: auto;
}
aside {
  transition: var(--transition_close);
}
.sidebar {
  display: grid;
  width: 20%;
  grid-template-rows: repeat(13, 3vw);
  background-color: #0e8388;
  padding: 1vw 0 0 1vw;
}
.closed-sidebar {
  width: 4vw;
}

.header {
  background-color: #2e4f4f;
  width: 100%;
  height: 10vw;
  display: grid;
  grid-template: repeat(2, 1fr) / 2fr 1fr;
  justify-content: center;
  align-items: center;
}
.main {
  background-color: #cbe4de;
  width: 100%;
}
#dashboard-logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: clamp(1.5em, 3vw, 2.3em);
}

#nav-container {
  display: flex;
  width: fit-content;
  flex-direction: column;
  gap: 1.8vw;
  padding-left: 1vw;
  grid-area: 3 / 1 / 8 / 1;
}
.nav-text-container,
.option-text-container {
  width: fit-content;
  display: flex;
  gap: 0.5vw;
}
.nav-text-container:hover,
.option-text-container:hover,
#dashboard-logo:hover {
  opacity: 0.8;
  cursor: pointer;
}
.nav-text-container > img,
.option-text-container > img {
  width: 1.4vw;
}
svg {
  fill: white;
}
.nav-text {
  display: flex;
  align-items: center;
  color: white;
  font-size: var(--nav_font);
}

#option-container {
  padding-left: 1vw;
  display: grid;
  grid-template-rows: repeat(3, 3vw);
  grid-row: 10 / 14;
}
.option-text {
  display: flex;
  align-items: center;
  color: white;
  font-size: var(--nav_font);
}

.hamburger > span {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-0.3vw);
  width: 0;
}

.nav-hamburger > div > span {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-0.5vw);
  width: 0;
}
.nav-hamburger > div {
  transform: translateX(-0.3vw);
}
img {
  display: inline;
  transition: opacity 0.3s ease-in-out;
}

.hidden {
  opacity: 0;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.search-box {
  height: 50%;
  width: 100%;
  display: flex;
  margin-left: 1vw;
  margin-top: 1vw;
  align-items: center;
  grid-column: 1;
}
.search-input {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  border: none;
  color: white;
  border-radius: 25px;
  padding: 0 1vw;
}
.search-input::placeholder {
  color: white;
}
.search-button {
  background-color: transparent;
  border: none;
  height: 2vw;
  transform: translateY(0px);
  transition: all 50ms ease-in-out;
}
.search-button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.search-button:active {
  opacity: 0.3;
  transform: translateY(-5px);
}

.user-section {
  display: flex;
  justify-content: center;
  margin-top: 1vw;
  align-items: center;
  gap: 1.5vw;
}

.user-img {
  width: 3vw;
  height: 3vw;
  object-fit: cover;
  object-position: 25% 50%;
  border-radius: 50%;
  transform: translateY(0);
  transition: all 0.2s ease-in-out;
}
.user-img:hover {
  cursor: pointer;
  transform: translateY(-5px);
}
.user-img:active {
  transform: translateY(0);
  box-shadow: none;
}
.bell {
  height: 1.5vw;
}
.user-section > span {
  height: 1vw;
  color: white;
  font-weight: bold;
  font-size: clamp(0.8em, 1vw, 1.2em);
}
.user-section > span:hover {
  cursor: pointer;
  color: rgb(255, 255, 255, 0.5);
}
.bell-box {
  display: flex;
  align-items: center;
  position: relative;
}
.bell-box > span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.5em, 1vw, 1em);
  font-weight: bold;
  position: absolute;
  background-color: red;
  height: 0.5vw;
  width: 0.5vw;
  border-radius: 50%;
  padding: 0.3vw;
  color: white;
  top: 1.1vw;
  right: -0.2vw;
}
.bell:hover {
  cursor: pointer;
  animation: jingle 0.5s;
  transition: all 0.1s ease-in-out;
}
.bell:active {
  transform: translateY(3px);
}
.info-section {
  display: flex;
  align-items: center;
  margin-left: 2vw;
  gap: 1vw;
}
.info-section > img {
  width: 4vw;
  height: 4vw;
  object-fit: cover;
  object-position: 25% 50%;
  border-radius: 50%;
}
.info-text {
  justify-content: center;
  display: flex;
  color: white;
  height: 4vw;
  flex-direction: column;
}
.info-name {
  font-size: clamp(1em, 2vw, 1.5em);
}
.action-section {
  display: flex;
  justify-content: center;
  gap: 1.5vw;
  align-items: center;
  margin-right: 1vw;
}
.action-section > button {
  font-size: clamp(0.8em, 1.5vw, 1.2em);
  width: 5vw;
  height: 1vw;
  justify-content: center;
  padding: 1vw;
  display: flex;
  align-items: center;
  border-radius: 2vw;
  background-color: #cbe4de;
  border: none;
  color: #2e4f4f;
  transform: translateY(0);
  transition: all 0.2s ease-in-out;
}
.action-section > button:hover {
  transform: translateY(-3px);
  box-shadow: 2px 2px 5px 0 rgb(255, 255, 255, 0.5);
  cursor: pointer;
  color: #cbe4de;
  background-color: #2e4f4f;
  border: 1px #cbe4de solid;
}
.action-section > button:active {
  transform: translateY(0);
  box-shadow: none;
}
@keyframes jingle {
  25% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  0%,
  100% {
    transform: rotate(0deg);
  }
}
